black
certifi
charset-normalizer
click
filelock
fsspec
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
mypy-extensions
networkx
numpy
packaging
pathspec
pillow
pip
platformdirs
protobuf
PyYAML
regex
requests
ruff
safetensors
sentencepiece
setuptools
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
urllib3
